.ageCont {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.ageCalculator {
    padding: 50px;
    width: 600px;
    height: 450px;
    border-radius: 20px;
    border-bottom-right-radius: 120px;
    margin: auto;
    background-color: $bg-secondary;
}

.hr {
    width: 80%;
    height: 5px;
    background-color: $bg;
    margin-right: 5px;
}

.form-text {
    height: 20px;
}

.btn-primary {
    background-color: $primary !important;
    border: 0 !important;
}

.btn-primary:hover {
    background-color: $primary-hover !important;
    border: 0 !important;
}