.ageCont {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.ageCalculator {
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: #b8b3b3;
}

.hr {
    width: 80%;
    height: 5px;
    background-color: blue;
    margin-right: 5px;
}

.form-text {
    height: 20px;
}