body {
    background-color: $bg !important;
}

.headerApp {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: red;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: red;
}